
+modal ('1',
  'Flyer - Arena Gym',
  'An interesting flyer for a new fitness gym.',
  '/img/portfolio/flyer-arena.jpg',
  'https://www.facebook.com/arenagymarad',
  'Arena Gym',
  ', the newest fitness and wellness center in Arad proposed an interesting challenge for its launch campaign: a flyer that would convince potential customers that Arena Gym is the perfect solution for their fitness needs. We think we have done a great job! What do you think?',
  'Do you want a professional flyer for promoting your business?',
  'Get in touch now!',
  'Date:',
  'July 2016',
  'Category:',
  'Graphic Design',
  'Close'
)

+modal ('2',
  'Website - BG Development',
  'A new website for a B2B professional cleaning supplies distribution company.',
  '/img/portfolio/web-design-bgdevelopment.jpg',
  'http://www.bgdevelopment.ro',
  'BG Development',
  'is a company located in Arad which also operates in 3 neighboring counties (Timiș, Bihor and Hunedoara) in the B2B distribution of professional cleaning supplies, catering products, trash, food or special biohazard bags and other connected products. The website is built on top of Wordpress, given the relatively high number of products, the category structure, etc.',
  'Do you want a professional website for promoting your business in the online environment?',
  'Get in touch now!',
  'Date:',
  'November 2016',
  'Category:',
  'Web Design',
  'Close'
)

+modal ('3',
  'Social Media - Arena Gym',
  'Social media mock-up for a local gym/wellness center.',
  '/img/portfolio/social-media-arena-gym.jpg',
  'https://www.facebook.com/arenagymarad',
  'Arena Gym',
  ', the newest fitness and wellness center in Arad proposed an interesting challenge for its launch campaign: a social media mock-up that would boost its notoriety in the online environment. We think we have done a great job! What do you think?',
  'Do you want a professional looking social media mock-up for promoting your business?',
  'Get in touch now!',
  'Date:',
  'August 2016',
  'Category:',
  'Graphic Design',
  'Close'
)

+modal ('4',
  'Website - IVS Romania',
  'A modern website with interesting effects.',
  '/img/portfolio/web-design-ivs-romania.jpg',
  'http://www.ivs-romania.ro',
  'IVS Romania',
  'is an advertising and ad production company that combines fresh ideas with tech innovations and connects people with brands via fun, interactive experiences that they will love! For the website, the well-known Wordpress platform was used — the project having been started already by someone else — in which multiple functionalities were integrated, according to what the cusotmer desired.',
  'Do you want a professional website for promoting your business in the online environment?',
  'Get in touch now!',
  'Date:',
  'May 2017',
  'Category:',
  'Web Design',
  'Close'
)

+modal ('5',
  'Poster - Medieval Langoș',
  'A product poster for a new business powered by an uniqe idea.',
  '/img/portfolio/poster-medieval.jpg',
  'https://www.facebook.com/medieval.langos.ro',
  'Medieval Langoș',
  "is a new and innovative street food concept, base on a traditional product: the so called „langoș”! We created a series of interesting product posters, in theme with the brand's name (Medieval), to help customers decide more easily.",
  'Do you want professional posters for your products?',
  'Get in touch now!',
  'Date:',
  'June 2015',
  'Category:',
  'Graphic Design',
  'Close'
)

+modal ('6',
  'Identity Pack - SAB Trading',
  'Logo, business cards, e-signature, letterhead for a new company.',
  '/img/portfolio/cdv-sabtrading.jpg',
  '#',
  'SAB Trading',
  'is a new company that distributes lots of goodies like turkey, goose or duck products, as well as all kinds of ready-to-eat delis. Until now we created for SAB Trading, among others, the logo, business cards, e-signature and a letterhead. Soon enough we will start working on the website!',
  'Do you want a professional identity pack for your company?',
  'Get in touch now!',
  'Date:',
  'March 2017',
  'Category:',
  'Graphic Design',
  'Close'
)

+modal ('7',
  'Website - Maduro Cigars Club',
  'A simple, clean and tasteful website.',
  '/img/portfolio/web-maduro.jpg',
  'http://www.madurocigarsclub.ro',
  'Madurocigarsclub.ro',
  'is the website of the cigar smokers club from Arad, a simple and clean implementation of the most recent standards in Web Design: HTML5, CSS3, JavaScript and a little of PHP for the contact form.',
  'Do you want a professional website for promoting your business in the online environment?',
  'Get in touch now!',
  'Date:',
  'May 2015',
  'Category:',
  'Web Design',
  'Close'
)

+modal ('8',
  'Flyer - Medieval Langoș',
  'A flyer for a new business powered by an uniqe idea.',
  '/img/portfolio/flyer-medieval.jpg',
  'https://www.facebook.com/medieval.langos.ro',
  'Medieval Langoș',
  "is a new and innovative street food concept, base on a traditional product: the so called „langoș”! We created an interesting flyer, in theme with the brand's name (Medieval), to promote the business in different parts of town.",
  'Do you want a professional flyer for promoting your business?',
  'Get in touch now!',
  'Date:',
  'June 2015',
  'Category:',
  'Graphic Design',
  'Close'
)

+modal ('9',
  'Flyer - DRW Arad',
  'A flyer for promoting the local German-Romanian business club.',
  '/img/portfolio/flyer-drw.jpg',
  'http://www.drw.ro',
  'DRW Arad',
  "is the local German-Romanian business club, the oldest in the country, being founded in 1994. We created this interesting flyer, in theme with DRW's goals, to promote the club at the Arad Days fair (Zilele Aradului).",
  'Do you want a professional flyer for promoting your business?',
  'Get in touch now!',
  'Date:',
  'July 2016',
  'Category:',
  'Graphic Design',
  'Close'
)

+modal ('10',
  'Social Media - BG Development',
  'Social media mock-up for a new product.',
  '/img/portfolio/social-media-bgdevelopment.jpg',
  'http://www.bgdevelopment.ro',
  'BG Development',
  'is a company located in Arad which also operates in 3 neighboring counties (Timiș, Bihor and Hunedoara) in the B2B distribution of professional cleaning supplies, catering products, trash, food or special biohazard bags and other connected products. They proposed an interesting challenge for the launch of a promo campaign: a social media mock-up that would get people to buy the large stocks of product in short time. We think we have done a great job! What do you think?',
  'Do you want a professional looking social media mock-up for promoting your business?',
  'Get in touch now!',
  'Date:',
  'December 2016',
  'Category:',
  'Graphic Design',
  'Close'
)

+modal ('11',
  'Social Media - CAR CFR Arad',
  'Social media mock-ups for a promo campaign with reduced interest rates.',
  '/img/portfolio/social-media-car-cfr-arad.jpg',
  'https://www.facebook.com/CAR.CFR.Arad/',
  'CAR CFR Arad',
  'is an IFN located in Arad which provides basic loans without too much paperwork. They proposed an interesting challenge for the launch of a promo campaign: social media mock-ups that would get people to come and ask for loans. We think we have done a great job! What do you think?',
  'Do you want a professional looking social media mock-up for promoting your business?',
  'Get in touch now!',
  'Date:',
  'April 2017',
  'Category:',
  'Graphic Design',
  'Close'
)
