aside#partners.clients
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Partners
        h3.section-subheading.text-muted Some of the partners we've had the pleasure to work with
      +partner ('http://www.drw.ro', '/img/logos/DRW-Arad.jpg', 'Logo collaborator - DRW Arad')
      +partner ('http://www.bgdevelopment.ro', '/img/logos/BGD.jpg', 'Logo collaborator - BG Development')
      +partner ('http://www.oesb-international.com', '/img/logos/OESB-international.jpg', 'Logo collaborator - OESB International')
      +partner ('http://www.madurocigarsclub.ro', '/img/logos/maduro-cigars-club-small.jpg', 'Logo collaborator - Maduro Cigars Club')
      +partner ('https://www.facebook.com/medieval.langos.ro', '/img/logos/medieval.jpg', 'Logo collaborator - Medieval Langos')
      +partner ('https://www.facebook.com/arenagymarad', '/img/logos/arena-gym.jpg', 'Logo collaborator - Arena Gym')
      +partner ('https://www.facebook.com/CAR.CFR.Arad/', '/img/logos/CAR-CFR-Arad.jpg', 'Logo collaborator - CAR CFR Arad')
      +partner ('#', '/img/logos/steimers-ziegellack.jpg', "/Logo collaborator - Steimer's Ziegellack")
