section#portfolio.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Portfolio
        h3.section-subheading.text-muted We invite you to see below some of the projects we've been involved in:
    .row
      .col-lg-12.text-center
        .filter-btns.btn-group-lg
          button.btn.btn-primary.cat-sel(data-filter='all') All
          button.btn.btn-primary.cat-sel(data-filter='web-design') Web Design
          button.btn.btn-primary.cat-sel(data-filter='print') Print
          button.btn.btn-primary.cat-sel(data-filter='logo') Logo
          button.btn.btn-primary.cat-sel(data-filter='social-media') Social Media
    .row(style="clear: both")
      +portfolio ('print', '#portfolioModal1', 'img/portfolio/flyer-arena-preview.jpg', 'Flyer', 'Graphic Design')
      +portfolio ('web-design', '#portfolioModal2', 'img/portfolio/web-design-bgdevelopment-preview.jpg', 'New website', 'Web Design')
      +portfolio ('social-media', '#portfolioModal3', 'img/portfolio/social-media-arena-gym-preview.jpg', 'Social media', 'Graphic Design')
      +portfolio ('web-design', '#portfolioModal4', 'img/portfolio/web-design-ivs-romania-preview.jpg', 'Website makeover', 'Web Design')
      +portfolio ('print', '#portfolioModal5', 'img/portfolio/poster-medieval-preview.jpg', 'Product poster', 'Graphic Design')
      +portfolio ('logo', '#portfolioModal6', 'img/portfolio/cdv-sabtrading-preview.jpg', 'Identity Pack', 'Graphic Design')
      +portfolio ('social-media', '#portfolioModal10', 'img/portfolio/social-media-bgdevelopment-preview.jpg', 'Social media', 'Graphic Design')
      +portfolio ('web-design', '#portfolioModal7', 'img/portfolio/web-design-maduro-preview.jpg', 'New website', 'Web Design')
      +portfolio ('print', '#portfolioModal9', 'img/portfolio/flyer-drw-preview.jpg', 'Flyer', 'Graphic Design')
      +portfolio ('social-media', '#portfolioModal11', 'img/portfolio/social-media-car-cfr-arad-preview.jpg', 'Social media', 'Graphic Design')
      +portfolio ('print', '#portfolioModal8', 'img/portfolio/flyer-medieval-preview.jpg', 'Flyer', 'Graphic Design')
    .row
      .col-12-lg.text-center
        a#loadMore.btn.btn-xl(href='#') LOAD MORE
        a.page-scroll.btn.btn-xl(href='#contact') GET A QUOTE!
