section#services
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Services
        h3.section-subheading.text-muted.col-md-8.col-md-offset-2
          | You need help regarding your website or you want to launch a new product and you don't know exactly how to promote it efficiently?
          br
          br
          | We are here for you!
    .row.text-center
      +serviciu ('laptop', 'Responsive Web Design', 'You need a website to expand your growing business in the online environment?', "Your current website is old and obsolete given the latest trends or is not optimised for mobile devices?")
      +serviciu ('picture-o', 'Graphic Design', 'You need a flyer to help boost the sales of your new product?', "You want to post something interesting on social media but you don't have an awesome personalised graphic?")
      +serviciu ('suitcase', 'Marketing Guidance', "You want to launch a new product and you don't know how to reach your customers efficiently?", "You want to expand the reach of your business and be closer to your customers on social media but you don't know exactly how?")
    .col-lg-12.text-center
      br
      br
      h3.section-heading We can help with all of these!
      a.page-scroll.btn.btn-xl(href='#contact') Contact us!
