section#team.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Who does all this?
        h3.section-subheading.text-muted At the moment, Scorpius Works is a one-man-show :)
    .row
      .col-sm-4.col-sm-push-4
        .team-member
          img.img-responsive.img-circle(src='/img/team/marius-new.jpg', alt='Marius Porcolean - Owner &amp; Founder')
          h4 Marius Porcolean
          p.text-muted Owner &amp; Founder
          ul.list-inline.social-buttons
            +social ('https://www.instagram.com/mariuselix/', 'instagram')
            +social ('https://www.facebook.com/mariuselix', 'facebook')
            +social ('https://www.linkedin.com/in/mariuselix', 'linkedin')
          a.btn.btn-xl(href='/CV-MariusPorcolean.pdf', target='_blank', onClick="ga('send', 'event', 'CV', 'click', 'SeeCV');") See CV
    .row
      .col-md-6.col-md-offset-3.text-center
        p.large.text-muted
          | If you're a passionate young web developer, graphic designer or your friends told you that you have fantastic communication skills, don't hesitate to write us and maybe we'll be colleagues soon!
