section#about
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Despre noi
        h3.section-subheading.text-muted Câteva cuvinte despre povestea din spatele Scorpius Works.
    .row
      .col-lg-12
        ul.timeline
          li
            +time ('/img/about/1.jpg', '1996', 'Primul contact cu IT-ul',
              'În anul 1996, Marius, fondatorul Scorpius Works, elev în școala primară pe vremea aceea, ia primul contact cu lumea IT, printr-un Pentium 1, de 166 MHz, iar fascinația generată de "cutia ciudată" nu a încetat nici după mai bine de 20 de ani :)'
            )
          li.timeline-inverted
            +time ('/img/about/2.jpg','2015','Primii pași către business în IT',
              'După ani de zile de experiență profesională acumulată în alte domenii, în anul 2015, Marius, deja sătul de munca monotonă din biroul confortabil de Sales Manager într-un showroom al unui brand de renume în domeniul auto, hotărăște că a sosit momentul pentru a se axa pe pasiunea sa dintotdeauna, exersată până atunci doar ca hobby și începe cu un website și câteva proiecte grafice'
            )
          li
            +time ('/img/about/3.jpg','Martie 2016','Înființarea firmei',
              'Pentru a practica totul cu "acte în regulă", ia ființă firma Scorpius Works SRL-D, cu scopul de a livra servicii de cea mai bună calitate pe nișele de Web Design, Design Grafic și Consultanță Marketing'
            )
          li.timeline-inverted
            +time ('/img/about/4.jpg','Iulie 2016','Tranziția către full-time IT',
              'Întrucât piața arăta că există o cerere destul de mare pe aceste domenii, Marius ia decizia să renunțe definitiv la job pentru a se ocupa full time de activitatea Scorpius Works. Cu această ocazie apar și câteva noi proiecte, pe care le veți vedea cu siguranță cât de curând adăugate la portofoliu.'
            )
          li.timeline-inverted
            .timeline-image
              a#parte-din-echipa.page-scroll(href='#contact')
                h4
                  | Fă parte
                  br
                  | și tu din
                  br
                  | poveste!
