footer
  .container
    .row
      .col-md-4
        span.copyright Copyright © Scorpius Works 2017
      .col-md-4
        ul.list-inline.social-buttons
          +social ('https://www.twitter.com/ScorpiusWorks', 'twitter')
          +social ('https://www.facebook.com/scorpiusworks/', 'facebook')
          +social ('https://www.linkedin.com/company/scorpius-works', 'linkedin')
      .col-md-4
        ul.list-inline.quicklinks
          li: #[span Built on] #[a(href='http://getbootstrap.com/') Bootstrap]
          li: #[a(href='https://scorpiusworks.com/Politica-de-confidentialitate.pdf') Politica de confidențialitate]
