aside#partners.clients
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Parteneri
        h3.section-subheading.text-muted O parte din partenerii cu care am avut plăcerea de a colabora
      +partner ('http://www.drw.ro', '/img/logos/DRW-Arad.jpg', 'Logo colaborator - DRW Arad')
      +partner ('http://www.bgdevelopment.ro', '/img/logos/BGD.jpg', 'Logo colaborator - BG Development')
      +partner ('http://www.oesb-international.com', '/img/logos/OESB-international.jpg', 'Logo colaborator - OESB International')
      +partner ('http://www.madurocigarsclub.ro', '/img/logos/maduro-cigars-club-small.jpg', 'Logo colaborator - Maduro Cigars Club')
      +partner ('https://www.facebook.com/medieval.langos.ro', '/img/logos/medieval.jpg', 'Logo colaborator - Medieval Langos')
      +partner ('https://www.facebook.com/arenagymarad', '/img/logos/arena-gym.jpg', 'Logo colaborator - Arena Gym')
      +partner ('https://www.facebook.com/CAR.CFR.Arad/', '/img/logos/CAR-CFR-Arad.jpg', 'Logo colaborator - CAR CFR Arad')
      +partner ('#', '/img/logos/steimers-ziegellack.jpg', "/Logo colaborator - Steimer's Ziegellack")
