section#portfolio.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Portofoliu
        h3.section-subheading.text-muted Vă invităm să vedeți mai jos o parte din lucrările în care ne-am implicat:
    .row
      +portfolio ('#portfolioModal1', '/img/portfolio/flyer-arena-preview.jpg', 'Flyer Arena Gym', 'Design Grafic')
      +portfolio ('#portfolioModal2', '/img/portfolio/web-bgdevelopment-preview.jpg', 'BG Development', 'Web Design')
      .clearfix.visible-sm
      +portfolio ('#portfolioModal3', '/img/portfolio/flyer-medieval-preview.jpg', 'Flyer Medieval Langos', 'Design Grafic')
      +portfolio ('#portfolioModal4', '/img/portfolio/web-maduro-preview.jpg', 'Maduro Cigars Club', 'Web Design')
      +portfolio ('#portfolioModal5', '/img/portfolio/poster-medieval-preview.jpg', 'Poster produs - Medieval', 'Design Grafic')
      +portfolio ('#portfolioModal6', '/img/portfolio/cdv-scorpius-preview.jpg', 'Cărți de vizită', 'Design Grafic')
    .row
      .col-12-lg.text-center
        a.page-scroll.btn.btn-xl(href='#contact') CERE OFERTĂ!
