section#portfolio.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Portofoliu
        h3.section-subheading.text-muted Vă invităm să vedeți mai jos o parte din proiectele în care ne-am implicat:
    .row
      .col-lg-12.text-center
        .filter-btns.btn-group-lg
          button.btn.btn-primary.cat-sel(data-filter='all') Toate
          button.btn.btn-primary.cat-sel(data-filter='web-design') Web Design
          button.btn.btn-primary.cat-sel(data-filter='print') Print
          button.btn.btn-primary.cat-sel(data-filter='logo') Logo
          button.btn.btn-primary.cat-sel(data-filter='social-media') Social Media
    .row
      +portfolio ('print', '#portfolioModal1', '/img/portfolio/flyer-arena-preview.jpg', 'Flyer', 'Design grafic')
      +portfolio ('web-design', '#portfolioModal2', '/img/portfolio/web-design-bgdevelopment-preview.jpg', 'Website nou', 'Web design')
      +portfolio ('social-media', '#portfolioModal3', '/img/portfolio/social-media-arena-gym-preview.jpg', 'Social media', 'Design grafic')
      +portfolio ('web-design', '#portfolioModal4', '/img/portfolio/web-design-ivs-romania-preview.jpg', 'Reconstrucție website', 'Web Design')
      +portfolio ('print', '#portfolioModal5', '/img/portfolio/poster-medieval-preview.jpg', 'Poster produs', 'Design grafic')
      +portfolio ('logo', '#portfolioModal6', '/img/portfolio/cdv-sabtrading-preview.jpg', 'Pachet identitate', 'Design grafic')
      +portfolio ('social-media', '#portfolioModal10', '/img/portfolio/social-media-bgdevelopment-preview.jpg', 'Social media', 'Design grafic')
      +portfolio ('web-design', '#portfolioModal7', '/img/portfolio/web-design-maduro-preview.jpg', 'Website nou', 'Web design')
      +portfolio ('print', '#portfolioModal9', '/img/portfolio/flyer-drw-preview.jpg', 'Flyer', 'Design grafic')
      +portfolio ('social-media', '#portfolioModal11', '/img/portfolio/social-media-car-cfr-arad-preview.jpg', 'Social media', 'Graphic Design')
      +portfolio ('print', '#portfolioModal8', '/img/portfolio/flyer-medieval-preview.jpg', 'Flyer', 'Design grafic')
    .row
      .col-12-lg.text-center
        a#loadMore.btn.btn-xl(href='#') VEZI MAI MULTE
        a.page-scroll.btn.btn-xl(href='#contact') CERE OFERTĂ!
