section#team.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Cine face toate astea?
        h3.section-subheading.text-muted Momentan, Scorpius Works este un one-man-show :)
    .row
      .col-sm-4.col-sm-push-4
        .team-member
          img.img-responsive.img-circle(src='/img/team/marius-new.jpg', alt='Marius Porcolean - Owner &amp; Founder')
          h4 Marius Porcolean
          p.text-muted Owner &amp; Founder
          ul.list-inline.social-buttons
            +social ('https://www.instagram.com/mariuselix/', 'instagram')
            +social ('https://www.facebook.com/mariuselix', 'facebook')
            +social ('https://www.linkedin.com/in/mariuselix', 'linkedin')
          a.btn.btn-xl(href='/CV-MariusPorcolean.pdf', target='_blank', onClick="ga('send', 'event', 'CV', 'click', 'VeziCV');") Vezi CV
    .row
      .col-md-6.col-md-offset-3.text-center
        p.large.text-muted
          | Dacă și tu ești un tânăr pasionat de Web, Grafică sau crezi că ai calități fantastice de comunicare, nu ezita să ne scrii și poate vom deveni colegi!
