
+modal ('1',
  'Flyer Arena Gym',
  'Un flyer interesant pentru o nouă sală de fitness din oraș.',
  'img/portfolio/flyer-arena.jpg',
  'https://www.facebook.com/arenagymarad',
  'Arena Gym',
  ', cea mai nouă sală de fitness și wellness din Arad ne-a lansat o provocare pentru campania sa de lansare: un flyer interesant, care să convingă potențialii clienți că Arena Gym este soluția potrivită. Noi considerăm că am făcut o treabă bună! Tu ce părere ai?',
  'Îți dorești și tu un flyer profesionist pentru promovarea afacerii tale?',
  'Iulie 2016',
  'Design Grafic'
)

+modal ('2',
  'Website BG Development',
  'Un nou website pentru o companie de distribuție B2B de produse de curățenie.',
  'img/portfolio/web-bgdevelopment.jpg',
  'http://www.bgdevelopment.ro',
  'BG Development',
  'este o companie cu sediul în Arad, ce își desfășoară activitatea la nivelul a 4 județe din vestul țării (Arad, Timiș, Bihor și Hunedoara) în domeniul distribuției business-to-business de produse profesionale de curățenie, consumabile, produse pentru catering, saci menajeri, alimentari sau saci speciali pentru deșeuri biologice și alte produse conexe.',
  'Îți dorești și tu un website profesionist pentru promovarea afacerii tale în mediul online?',
  'Noiembrie 2016',
  'Web Design'
)

+modal ('3',
  'Flyer Medieval Langoș',
  'Un flyer pentru un business nou, cu o idee inedită.',
  'img/portfolio/flyer-medieval.jpg',
  'https://www.facebook.com/medieval.langos.ro',
  'Medieval Langoș',
  'este un concept inovativ de "street food", bazat pe un produs tradițional: langoșul! Noi am conceput un flyer interesant, în temă cu numele business-ului (Medieval) pentru promovarea acestuia în diverse zone din oraș.',
  'Îți dorești și tu un flyer profesionist pentru promovarea afacerii tale?',
  'Iunie 2015',
  'Design Grafic'
)

+modal ('4',
  'Website Maduro Cigars Club',
  'Un website simplu, curat și cu bun gust.',
  'img/portfolio/web-maduro.jpg',
  'http://www.madurocigarsclub.ro',
  'Maduro Cigars Club',
  'este website-ul clubului fumătorilor de trabucuri din Arad, unul simplu și curat, creat conform celor mai noi standarde HTML5, CSS3, JavaScript și puțin PHP pentru formularul de contact.',
  'Îți dorești și tu un website profesionist pentru promovarea afacerii tale în mediul online?',
  'Mai 2015',
  'Web Design'
)

+modal ('5',
  'Poster Medieval Langoș',
  'Un poster de produs pentru un business nou, cu o idee inedită.',
  'img/portfolio/poster-medieval.jpg',
  'https://www.facebook.com/medieval.langos.ro',
  'Medieval Langoș',
  'este un concept inovativ de "street food", bazat pe un produs tradițional: langoșul! Noi am conceput o serie de postere de produs interesante, în temă cu numele business-ului (Medieval) pentru a ajuta clienții să se hotărască mai ușor.',
  'Îți dorești și tu postere profesioniste pentru promovarea produselor tale tale?',
  'Iunie 2015',
  'Design Grafic'
)

+modal ('6',
  'Cărți de vizită',
  'Un model de cărți de vizită mai non-conformist.',
  'img/portfolio/cdv-scorpius.jpg',
  '#page-top',
  ' ',
  'Am creat acest model de cărți de vizită mai non-conformist pentru un nou business in domeniul Web/Design/Marketing, care își propune să se dezvolte pe piața din zona vest a țării pe acest domeniu, NOI!  :)',
  'Îți dorești și tu cărți de vizită profesioniste pentru o impresie de top atunci când le înmânezi colaboratorilor?',
  'Mai 2016',
  'Design Grafic'
)
