section#services
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Servicii
        h3.section-subheading.text-muted.col-md-8.col-md-offset-2
          | Ai nevoie de ajutor în legătură cu site-ul tău sau vrei să lansezi un nou produs și nu știi cum să-l promovezi cât mai eficient?
          br
          br
          | Suntem aici pentru tine!
    .row.text-center
      +serviciu ('laptop', 'Responsive Web Design', 'Ai nevoie de un website pentru a-ți dezvolta afacerea și în mediul online?', 'Site-ul tău este învechit și nu mai face față provocărilor moderne sau nu este optimizat pentru dispozitive mobile?')
      +serviciu ('picture-o', 'Design Grafic', 'Ai nevoie de un flyer pentru a impulsiona vânzările celui mai nou produs?', 'Vrei să faci o postare interesantă pe pagina de Facebook a afacerii tale dar nu ai o machetă personalizată?')
      +serviciu ('suitcase', 'Consultanță Marketing', 'Vrei să lansezi o afacere nouă sau un produs nou și nu știi cum să ajungi cât mai eficient la clienții tăi?', 'Vrei sa îți extinzi afacerea și să fii mai aproape de clienții tăi pe platformele de socializare, dar nu ești familiarizat cu acestea?')
    .col-lg-12.text-center
      br
      br
      h3.section-heading Cu toate acestea, te putem ajuta noi!
      a.page-scroll.btn.btn-xl(href='#contact') Scrie-ne!
